<header class="website-name">
    <h1><font color="ff0000">I</font><font color="#ff9900"> </font><font color="#ffcc00">D</font><font color="#66cc00">I</font><font color="#00ffcc">D</font><font color="#66ccff"> </font><font color="#9900cc">I</font><font color="ff0000">T</font><font color="#ff9900">!</font></h1>
</header>