.form-control{
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea{
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
    background: transparent;
}

.form-control input{
    font-size: 1rem;
    height: 1.8rem;
    outline:none;
}

.form-control textarea{
    font-size: 1rem;
    height:12rem;
    outline:none;
}